<section>
	<header><i class="{{ icon }}"></i> {{ title }}</header>
	<div>
		<input required type="text" name="login" placeholder="{{ loginPlaceholder }}">
		<input required type="password" name="password" placeholder="password">
		<button>LOGIN</button>
	</div>
	<footer class="error">Login error!</footer>
	<footer class="working"><i class="fa fa-cog fa-spin"></i> Working</footer>
	<footer class="success">Access granted!</footer>
</section>
<div class="copyright">powered by 365Media - EternityII</div>