<div class="modalify">
	<header>
		<i class="inverse fal fa-exclamation-triangle"></i>
		<label>ERROR</label>
		<nav>
			<button (close)><i class="fal fa-times"></i></button>
		</nav>
	</header>
	<section>{{ message }}</section>
	<footer><button (close)>OK</button></footer>

</div>