[is=modal--codex-admin-attachment] {

	>div{
		max-width: initial!important;
		width: calc(100vw - 60px);
		height: calc(100vh - 60px);
	}

	div.attachments {
		height:           100%;
		overflow:         auto;
		padding:          10px;
		background-color: #eee;
		user-select: none;

		header {
			background-color: white;
			padding:          5px 10px;
			margin:           -14px -14px 10px;
			font-size: 14px;
			font-weight: bold;
			i{
				font-size:12px;
				font-weight: normal;
				font-style: normal;
				color:#5c6772;
			}
		}
		div.attachmentHolder {
			padding:       14px;
			border:        1px dashed #ccc;
			overflow:      hidden;
			min-height:    100px;
			border-radius: 8px;
			margin-bottom: 10px;

			&.dragover {
				background-color: #abe5ff;
				& > div { opacity: .4;}
			}
			& > div {
				cursor:           pointer;
				background-color: white;
				box-shadow:       0px 9px 14px -7px rgba(0, 0, 0, 0.5);
				float:            left;
				width:            110px;
				height:           135px;
				padding:          5px;
				border:           1px solid #ddd;
				margin-right:     12px;
				margin-bottom:    10px;
				transition:       all .3s;
				position:         relative;
				top:              0;
				&:nth-child(5n) {
					-margin-right: 0;
				}
				&:hover {
					top:        5px;
					box-shadow: 0px 3px 6px -7px rgba(0, 0, 0, 0.5);

				}
				&.dragover{
					transform: translate(10px 0);
					&:before{
						position: absolute;
						content: '';
						left: -13px;
						top: 0;
						height: 135px;
						box-shadow: 0px 0px 3px #4f99de;
						width: 0px;
						border-left: 1px dashed #5079a0;
					}
				}

				input {
					padding:       0;
					border:        0;
					line-height:   28px;
					width:         100px;
					display:       block;
					font-size:     11px;
					text-align:    center;
					white-space:   nowrap;
					overflow:      hidden;
					text-overflow: ellipsis;
					user-select: initial;
				}
				img {
					width: 100px;
					height: 100px;
					display: block;
				}
				div.icon {
					color:            white;
					background-color: #00aeff;
					height:           100px;
					padding-top:      20px;
					i {
						display:        block;
						font-size:      48px;
						color:          white;
						font-weight:    normal;
						padding-bottom: 8px;
					}
					font-size:        13px;
					font-weight:      bold;
					text-align:       center;
				}
			}
		}
	}
}

