<select (style)>
	<option value="fas">solid</option>
	<option value="far">regular</option>
	<option value="fal">light</option>
	<option value="fad">duotone</option>
	<option value="fab">brand</option>
</select>
<input type="text" (input-element)><i (icon) class="fas fa-user"></i>